html, body {
  font-family: Arial, Helvetica;
  font-weight: 300;
  background: #FFFFFF;
  padding-top: 0px;
  -webkit-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  font-size: 18px;
  background: #eeeeee;
}

body * {
  box-sizing: border-box;
}

.inner {
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

h1 {
  font-size: 42px;
  margin: auto;
  width: 100%;
  font-weight: bold;
  letter-spacing: 3px;
}

h2 {
  font-size: 24px;
  margin: auto;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

header {
  position: relative;
  z-index: 3;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  position: fixed;
  width: 100%;
  color: #FFF;
  top: 0px;
}
header .inner {
  padding-right: 0px;
  width: 960px;
  margin: auto;
  padding-left: 20px;
}
header .inner nav ul li {
  text-align: center;
  display: inline-block;
  line-height: 60px;
  font-size: 18px;
  letter-spacing: 1px;
  padding-right: 20px;
  padding-left: 20px;
}
header .inner nav ul li.onScrollShow {
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 0px;
  white-space: pre;
  overflow: hidden;
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}
header .inner nav ul li.onScrollHide {
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  margin-right: 0px;
  white-space: pre;
  overflow: hidden;
  float: left;
}
header .inner nav ul li:hover {
  cursor: pointer;
  background: #d4d4d4;
}

section.page {
  -webkit-transition: all 0s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0s cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 0s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 1;
  opacity: 0;
  position: relative;
  width: 100%;
  top: -300px;
}
section.page.current {
  z-index: 2;
  opacity: 1;
  display: block;
  top: 70px;
}
section.page section {
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  background: #f6f6f6;
}
section.page p, section.page span {
  font-size: inherit;
  line-height: 32px;
  letter-spacing: 1px;
}
section.page p.emph_b, section.page span.emph_b {
  font-weight: bold;
}
section.page p.emph_i, section.page span.emph_i {
  font-style: italic;
}
section.page .main {
  padding-top: 20px;
  padding-bottom: 50px;
  border-left: 20px solid #E0E0E0;
  margin: auto;
  margin-top: -20px;
}
section.page .main p {
  font-size: 16px;
  line-height: 32px;
  max-width: 600px;
  display: block;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

section.page#home {
  padding-left: 20px;
}
section.page#home .banner {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  text-align: center;
}
section.page#home .banner h1 {
  font-size: 96px;
  color: #3b3b3b;
  width: 100%;
}
section.page#home .banner p {
  font-size: 20px;
  margin-top: 20px;
  color: #3b3b3b;
  margin-bottom: 0px;
}
section.page#home .about {
  margin-top: 20px;
  padding-top: 30px;
  background: transparent;
  width: 768px;
  margin: auto;
}
section.page#home .about p {
  line-height: 32px;
  max-width: 600px;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  letter-spacing: 1px;
}

body.mobile section.page {
  width: 100% !important;
  left: 0px !important;
  margin-left: 0px !important;
  overflow: hidden;
  padding-right: 20px;
}
body.mobile section.page .inner {
  padding-left: 5px;
  padding-right: 5px;
}
body.mobile section.page h1 {
  font-size: 36px !important;
}
