html, body {
  font-family: Times New Roman;
  font-weight: 300;
  background: #FFFFFF;
  padding-top: 30px;
  -webkit-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);
}

body * {
  box-sizing: border-box;
}

.inner {
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 42px;
  margin: auto;
  width: 100%;
  font-weight: bold;
  letter-spacing: 3px;
}

.clear {
  clear: both;
}

header {
  background: #33bea1;
  position: relative;
  z-index: 3;
  top: -100px;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  position: fixed;
  width: 100%;
  color: #FFF;
}
header .inner {
  padding-right: 0px;
  width: 960px;
  margin: auto;
  padding-left: 20px;
}
header .inner nav ul li {
  text-align: center;
  display: inline-block;
  line-height: 60px;
  font-size: 18px;
  letter-spacing: 1px;
  padding-right: 20px;
  padding-left: 20px;
}
header .inner nav ul li.onScrollShow {
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 0px;
  white-space: pre;
  overflow: hidden;
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}
header .inner nav ul li.onScrollHide {
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  margin-right: 0px;
  white-space: pre;
  overflow: hidden;
  float: left;
}
header .inner nav ul li:hover {
  cursor: pointer;
  background: #28967f;
}

section.page {
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 1;
  opacity: 0;
  height: 0px;
  position: absolute;
  width: 960px;
  left: 50%;
  margin-left: -480px;
}
section.page.current {
  z-index: 2;
  opacity: 1;
  display: block;
  height: auto;
}
section.page section {
  -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -ie-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  top: -1000px;
}
section.page .triangle {
  height: 102px;
  width: 102px;
  float: left;
  margin-top: -30px;
  border: 51px solid transparent;
  border-top: 51px solid #EEE;
  border-right: 51px solid #EEE;
  margin-left: -102px;
}
section.page .banner {
  top: -1000px;
  padding-top: 20px;
  padding-bottom: 30px;
  background: transparent;
  position: relative;
  z-index: 2;
  padding-left: 20px;
}
section.page .main {
  top: -1000px;
  padding-top: 20px;
  padding-bottom: 50px;
  border-left: 20px solid #E0E0E0;
  margin: auto;
  margin-top: -20px;
}
section.page .main p {
  font-size: 16px;
  line-height: 32px;
  max-width: 600px;
  display: block;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

section.page#home {
  padding-left: 20px;
}
section.page#home .triangle {
  top: -500px;
  margin-left: -102px;
  position: absolute !important;
}
section.page#home .banner {
  background: #33bea1;
}
section.page#home .banner h1 {
  font-size: 96px;
  color: #FFF;
  float: left;
  width: 100%;
  max-width: 600px;
}
section.page#home .banner img {
  float: right;
  width: 200px;
  margin-right: 20px;
}
section.page#home .triangle.big {
  z-index: 3;
  top: -1000px;
  right: 0px;
  height: 242px;
  width: 242px;
  border-width: 242px;
}
section.page#home .about {
  padding-top: 30px;
  top: -1000px;
}
section.page#home .about p {
  font-size: 18px;
  line-height: 32px;
  max-width: 600px;
  display: block;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
section.page#home .about p span.emph_b {
  font-weight: bold;
}
section.page#home .about p span.emph_i {
  font-style: italic;
}

section.page#blog_post .main {
  top: -100px;
}

body.mobile section.page {
  width: 100% !important;
  left: 0px !important;
  margin-left: 0px !important;
  overflow: hidden;
  padding-right: 20px;
}
body.mobile section.page .inner {
  padding-left: 5px;
  padding-right: 5px;
}
body.mobile section.page h1 {
  font-size: 36px !important;
}
body.mobile section.page img {
  display: none;
}
body.mobile section.page .triangle.big {
  display: none;
}
